<div class="input-group">
  <span class="input-group-btn">
    <button
      type="button"
      (click)="changedValue(-5)"
      [ngClass]="btnClass"
    >
      <i class="fa fa-minus"></i>
    </button>
  </span>
  <input
    type="number"
    class="form-control"
    placeholder="Progress"
    [ngClass]="{'is-invalid': progress > 100 || progress <0 }"
    (ngModelChange)="onChange($event)"
    [(ngModel)]="progress"
  />
  <span class="input-group-btn">
    <button
      type="button"
      (click)="changedValue(5)"
      [ngClass]="btnClass"
    >
      <i class="fa fa-plus"></i>
    </button>
  </span>
</div>
