* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



.fast{
  -webkit-animation-duration:0.3s;
  animation-duration:0.3s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both
}

#themecolors .selector, .cursor {
  cursor: pointer;
}

#buttonDiv {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;
}

.img-avatar{
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}
.profile-img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
}
.w140 {
  width: 140px;
}
.w100 {
  width: 100px;
}
.w200 {
  width: 200px;
}

.w-80 {
  width: 90px;
}

.w75{
  width: 50px;
}

.avatar {
  border: 2px solid rgba(0, 0, 0, 0.185);
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

