* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



.fast{
  -webkit-animation-duration:0.3s;
  animation-duration:0.3s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both
}

#themecolors .selector, .cursor {
  cursor: pointer;
}

#buttonDiv {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;
}

.img-avatar{
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}
